.imgGallery {
	margin-top: 55px;
	margin-left: 89px;
}

.modal-image {
	max-width: 600px;
	max-height: 400px;
}


#img_container {
	width: 150px;
	height: 150px;
	position: relative;
	display: inline-block;
	text-align: center;
}

.buttonProfilePic {
	position: absolute;
	bottom: -18px;
	right: 30px;
	width: 100px;
	height: 30px;
	background: transparent;
	border: none;
	font-size: 0;
}

.buttonProfilePicSave {
	position: absolute;
	bottom: -50px;
	right: 25px;
	width: 100px;
	height: 30px;
	background: transparent;
	border: none;
	font-size: 12;
}

input[type="file"] {
	background: transparent;
	border: none;
	outline: none;
}

.oneImage{
	display:inline-block;
}

.selectedImage{
	max-width:600px;
	max-height:400px;
	float:left;
	margin-top:55px;
	margin-left:15px;
}

.selectedImage img {
	height:100%;
}

.editImage {
	margin-top:10px;
}

.comments {
	float:right;
	max-width:600px;
	max-height:400px;
	margin-left:20px;
	margin-top:55px;
}

.enterComment, .enterReply {
	resize:none;
	width:400px;
}

.enterCommentContactUs {
	resize:none;
	height: 150px !important;
	width:400px;
}

.enterEmailContactUs {
	resize:none;
	width:400px;
}

.threadedComment {
	margin-left:50px;
}

.centerOfTheScreen { 
	float: none;
	margin-left: auto;
	margin-right: auto; 
}

.tab-pane{
	min-height:100%;
}