@CHARSET "ISO-8859-1";

/*     Footer Styles go here.. */

	#footer {
		background-color: #242628; 
		color: #F5F5F5;
		
		margin-top: 50px; 
		height: 160px;
		margin-bottom: 60px;
		overflow:auto;
	  	padding-bottom:160px;
	}
	
	#footer > .container {
		padding-top: 20px;
	}
	
	#boring-stuff a {
		color: #AC89FD;
	}
	
	#follow-us a {
		color: #AC89FD;
	}