@CHARSET "ISO-8859-1";

/*     Footer Styles go here.. */

	#footer {
		background-color: #242628; 
		margin-top: 20px; 
		height: 140px;
		margin-bottom: 60px;
		color: #F5F5F5;
	}
	#footer > .container > p > a {
		color: #AC89FD;
	}
	
	#footer > .container {
		padding-top: 20px;
	}