@CHARSET "ISO-8859-1";

/**
* Grid items
*/


#tiles li {
	list-style: none;
	border-color: black;
}

#tiles li img {
  	-moz-box-sizing: border-box;
   	box-sizing: border-box;
	height: auto;
  	width: 100% !important;
  	padding: 5px;
}

#tiles li p {
	text-align: center;
	padding: 5px 0px 5px 0px;
}

#images-container {
	margin: 10px; 
	position: relative;
}

.project-filters {
	marging-top: 5px;
}

#gallery-categories {
	margin: 80px 0px 30px 50px;
}

#image-filter-heading {
	color: #525252; 
	width: 150px; 
	float: left;
}