.ratings {
            font-family: Raleway;
            overflow:   visible;
            padding:    10px;
            position:   relative;
            width:      180px;
            height:     100px;
        }
.ratings_stars {
            background: url('/thepurplebooth/img/star_blank.png') no-repeat;
            float:      left;
            height:     28px;
            padding:    2px;
            width:      32px;
        }
.ratings_vote {
            background: url('/thepurplebooth/img/star_voted.png') no-repeat;
        }
.ratings_over {
            background: url('/thepurplebooth/img/star_overs.png') no-repeat;
        }
		
.total_votes {
    top: 58px;  
    left: 0;  
    padding: 5px;  
    position:   absolute;  
}  
.product{  
    font: 12px verdana, sans-serif;  
    margin: 0 auto 40px auto;  
	height:100px; 
}  