@CHARSET "ISO-8859-1";

html body {
	height: 100%;
}

.container-fluid {
	min-height: 100%;
}

.container-fluid textarea, .container-fluid select {
	border-radius: 0px;
}

#upload, #upload-signup {
	font-family: Raleway;
	font-size: 16px;
}
#image-title {
	
}